@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-gabarito: 'Gabarito', Arial, Helvetica, sans-serif;

  --primary-dark: #113D31;    /* Verde escuro */
  --primary-medium: #2A6A59;  /* Verde médio */
  --primary-light: #FFE489;   /* Amarelo claro */

  --secondary-danger: #BF360C; /* Vermelho escuro */
  --secondary-cream: #FFF8E1;  /* Creme claro */
  --secondary-dark: #161616;   /* Cinza escuro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-gabarito);

  --color-primary-dark: var(--primary-dark);
  --color-primary-medium: var(--primary-medium);
  --color-primary-light: var(--primary-light);
  
  --color-secondary-danger: var(--secondary-danger);
  --color-secondary-cream: var(--secondary-cream);
  --color-secondary-dark: var(--secondary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito);
}